# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
weatherCheck_data = pd.read_csv('../WeatherPy/OutputFiles/CityData.csv')
weatherCheck_data.head(10)

,city,lon,lat,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bengkulu,102.2655,-3.8004,74.01,92.0,94.0,2.28,ID,1.659565e+09
1,kodiak,-152.4072,57.7900,67.51,56.0,0.0,13.80,US,1.659565e+09
2,new norfolk,147.0587,-42.7826,51.93,86.0,50.0,1.01,AU,1.659565e+09
3,punta arenas,-70.9167,-53.1500,39.31,87.0,75.0,13.80,CL,1.659565e+09
4,amderma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,khatanga,102.5000,71.9667,50.54,66.0,100.0,9.35,RU,1.659565e+09
6,belushya guba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,dingle,122.6711,10.9995,76.66,91.0,99.0,3.20,PH,1.659565e+09
8,saint-augustin,-58.6502,51.2260,66.70,70.0,16.0,10.36,CA,1.659565e+09
9,nikolskoye,30.7861,59.7035,62.49,85.0,39.0,2.75,RU,1.659565e+09

In [18]:
#removing the cities NaN 
weatherCheck_data=weatherCheck_data.dropna()
weatherCheck_data.reset_index(drop=True)
weatherCheck_data.head(10)

,city,lon,lat,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bengkulu,102.2655,-3.8004,74.01,92.0,94.0,2.28,ID,1.659565e+09
1,kodiak,-152.4072,57.7900,67.51,56.0,0.0,13.80,US,1.659565e+09
2,new norfolk,147.0587,-42.7826,51.93,86.0,50.0,1.01,AU,1.659565e+09
3,punta arenas,-70.9167,-53.1500,39.31,87.0,75.0,13.80,CL,1.659565e+09
5,khatanga,102.5000,71.9667,50.54,66.0,100.0,9.35,RU,1.659565e+09
7,dingle,122.6711,10.9995,76.66,91.0,99.0,3.20,PH,1.659565e+09
8,saint-augustin,-58.6502,51.2260,66.70,70.0,16.0,10.36,CA,1.659565e+09
9,nikolskoye,30.7861,59.7035,62.49,85.0,39.0,2.75,RU,1.659565e+09
10,balkanabat,54.3671,39.5108,91.18,19.0,17.0,7.72,TM,1.659565e+09
11,dudinka,86.1778,69.4058,51.62,67.0,15.0,2.51,RU,1.659565e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure